@import '~nib/index.styl'
@import '~jeet/stylus/jeet/index.styl'

global-reset()

body
  font-family sans-serif
a
  color inherit
  text-decoration none

.header
  //border-bottom 1px solid #47525E
  height
  .logo
    width 100px

.separator
  height 10px
  .separator-item
    float left
    width 25%
    height 100%
  .separator-item-1
    background-color #161D28
  .separator-item-2
    background-color #46525D
  .separator-item-3
    background-color #768692
  .separator-item-4
    background-color #A6BAC9

.congress-member-detail
  .info
    border 1px solid gray
    width 400px
    margin 0 auto
    .name
      font-size 20px
      font-weight bold
    .photo
      display block
      width 300px
      height 200px
      border 1px solid black

  .related-restaurants
    background-color #E2E9EF
    .restaurant
        border 1px solid gray
        margin-right 10px
        float left
        width 200px
        height 300px
        a
          display block
          width 100%
          height 100%
