
.restaurant-list
  .restaurant-list-item
    width 100%
    height 60px
    border-bottom 1px solid gray
    color white
    background-color black
    opacity 0.6
    a
      display block
      width 100%
      height 100%